@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
}

::selection {
	color: hsl(183, 100%, 15%);
	background-color: hsl(172, 67%, 45%);
}
html {
	width: 100vw;
	height: 100vh !important;
}

body {
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh !important;
	background-color: hsl(185, 41%, 84%);
}

input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input {
	outline: none;
}

button {
	cursor: pointer;
}

.label {
	font-size: 1.1em;
	margin-bottom: 10px;
	color: hsl(186, 14%, 43%);
}

.inputWithIcon {
	width: 100%;
	height: 40px;
	display: flex;
	margin-top: 5px;
	border-radius: 5px;
	padding: 10px 10px;
	align-items: center;
	justify-content: space-between;
	background-color: hsl(189, 41%, 97%);
}

.inputWithIcon input {
	font-size: 1.2em;
	text-align: right;
	color: hsl(183, 100%, 15%);
	background-color: transparent;
}

.inputWithIcon input::placeholder {
	color: hsl(186, 14%, 43%);
}

.main {
	width: 800px;
	display: flex;
	height: 450px;
	padding: 30px;
	/* z-index: 10000; */
	position: relative;
	border-radius: 15px;
	align-items: center;
	justify-content: space-between;
	background-color: hsl(0, 0%, 100%);
}

.logo {
	z-index: -10;
	margin-bottom: 30px;
}

.main .erroDiv {
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: 70px;
	display: flex;
	padding: 30px;
	transition: 0.6s;
	font-size: 1.2em;
	position: absolute;
	border-radius: 15px;
	align-items: center;
	color: hsl(183, 100%, 15%);
	justify-content: space-between;
	background-color: hsl(0, 0%, 100%);
}

.main .erroDiv .closeBtn {
	font-size: 1.1em;
	cursor: pointer;
	color: hsl(183, 100%, 15%);
	background-color: transparent;
}

.main .caculator {
	height: 100%;
}

.main .caculator form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main .caculator form fieldset {
	gap: 10px;
	display: grid;
	grid-template-columns: repeat(3, 90px);
}

.main .caculator form fieldset button {
	height: 45px;
	font-size: 1.2em;
	border-radius: 5px;
	transition: color 0.8s;
	color: hsl(0, 0%, 100%);
	background-color: hsl(183, 100%, 15%);
}

.main .caculator form fieldset button[checked='true'] {
	color: hsl(183, 100%, 15%);
	background-color: hsl(172, 67%, 45%);
}

.main .caculator form fieldset button:hover {
	color: hsl(183, 100%, 15%);
	background-color: hsl(172, 67%, 45%);
}

.main .caculator form fieldset input {
	font-size: 1.2em;
	text-align: center;
	border-radius: 5px;
	color: hsl(183, 100%, 15%);
	background-color: hsl(189, 41%, 97%);
}

.main .caculator form fieldset input::placeholder {
	color: hsl(186, 14%, 43%);
}

.resultSection {
	height: 100%;
	display: flex;
	padding: 30px;
	min-width: 350px;
	border-radius: 15px;
	flex-direction: column;
	justify-content: space-between;
	background-color: hsl(183, 100%, 15%);
}

.resultSection button[disabled] {
	width: 100%;
	height: 45px;
	opacity: 0.2;
	font-size: 1.2em;
	border-radius: 7px;
	color: hsl(183, 100%, 15%);
	background-color: hsl(185, 41%, 84%);
}

.resultSection button {
	width: 100%;
	height: 45px;
	font-size: 1.2em;
	border-radius: 7px;
	color: hsl(183, 100%, 15%);
	background-color: hsl(172, 67%, 45%);
}

.resultSection .text {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.resultSection .text .paragraphValue {
	font-size: 2.2em;
	color: hsl(172, 67%, 45%);
}

.resultSection .textResultDiv .tipAmountDiv {
	margin-bottom: 30px;
}

.resultSection .textResultDiv .textResult {
	font-size: 1.2em;
	color: hsl(0, 0%, 100%);
}

.resultSection .textResultDiv .textResult span {
	display: block;
	font-size: 0.8em;
	color: hsl(186, 14%, 43%);
}

/* medias */

@media (max-width: 810px) {
	.main {
		width: 700px;
		padding: 20px;
	}

	.resultSection {
		padding: 20px;
		min-width: 320px;
	}

	.resultSection .text .paragraphValue {
		font-size: 1.8em;
	}

	.resultSection .textResultDiv .textResult {
		font-size: 1.1em;
	}
}

@media (max-width: 708px) {
	.main {
		width: 600px;
	}

	.main .caculator form fieldset {
		margin: 20px 0;
		grid-template-columns: repeat(3, 85px);
	}

	.resultSection {
		min-width: 260px;
	}

	.resultSection .text .paragraphValue {
		font-size: 1.5em;
	}

	.resultSection .textResultDiv .textResult {
		font-size: 0.9em;
	}
}

@media (max-width: 610px) {
	.main .erroDiv {
		padding: 10px;
		font-size: 0.8em;
	}

	.main {
		width: 100%;
		height: max-content;
		flex-direction: column;
		border-radius: 15px 15px 0 0;
	}

	.main .caculator {
		width: 100%;
	}

	.main .caculator form fieldset {
		gap: 10px;
		grid-template-columns: calc(50% - 5px) calc(50% - 5px);
	}

	.resultSection {
		width: 100%;
		margin-top: 20px;
	}

	.logo {
		margin-top: 200px;
		margin-bottom: 30px;
	}
}

@media (max-width: 330px) {
	.main {
		width: 100vw;
		padding: 10px;
	}
	.inputWithIcon input {
		width: 40%;
	}
}
